{% set slides = entry.carousel.all %}

{% set carousel = {
    mode: 'crop',
    width: 2000,
    height: 600,
    quality: 100
} %}

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for slide in slides %}
      <div class="swiper-slide h-[450px] relative">
        {% set image = slide.image.one() %}

        <img class="w-full h-full object-cover max-w-none" src="{{ image.url(carousel) }}" alt="{{ image.alternativeText|length ? image.alternativeText|length : image.title }}" />
        
          
        {% if slide.title|length or slide.kratkyPopis|length %}
          <div class="text-center w-full h-full px-12 lg:px-24 absolute left-0 top-0 flex items-center justify-center bg-black/20">
            <div>
              <h2 class="text-5xl text-white mb-4" style="text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);">{{ slide.title }}</h2>
              <p class="text-2xl text-white mb-8" style="text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);">{{ slide.kratkyPopis }}</p>
              {% if slide.tlacitko|length %}
                <a class="block mx-auto border-brand-green-light border-4 rounded-full px-8 py-4 text-white text-lg font-bold uppercase w-max mb-0 hover:bg-brand-green-light z-10" href="{{ slide.tlacitko }}">Čítaj viac</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  {# <div class="swiper-pagination"></div> #}

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev flex items-center px-6 hover:opacity-60 transition-all duration-300 left-0 top-0 h-full translate-y-0 mt-0 text-white"></div>
  <div class="swiper-button-next flex items-center px-6 hover:opacity-60 transition-all duration-300 right-0 top-0 h-full translate-y-0 mt-0 text-white"></div> 
</div>

{# Minified Swiper CSS v7.3.1 #}
{% css "https://unpkg.com/swiper@7/swiper-bundle.min.css" %}

{# Minified Swiper JavaScript v7.3.1 #}
{% js "https://unpkg.com/swiper@7/swiper-bundle.min.js" %}

{% js %}
  documentReady(() => {
    //initialize swiper when document ready
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      loop: true,
      speed: 900,

      autoplay: {
        delay: {{ entry.carouselInterval * 1000 }},
      },

      // If we need pagination
      // pagination: {
      //   el: '.swiper-pagination',
      // },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      // scrollbar: {
      //   el: '.swiper-scrollbar',
      // },
    });

  });
{% endjs %}

